{% extends 'core/base.html' %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container">
        <div class="row">
            <!-- Page Heading -->
            <div class="column ml-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h4 ml-4 mb-1 text-gray-800"> Сообщения</h1>
                </div>
                {% for message in messages %}

                    <!-- Default Card Example -->
                    <div class="card mb-4">
                        <div class="card-header">
                            {{ message.author.surname }} {{ message.author.name }} {{ message.author.last_name }}
                            | {{ message.time }}
                        </div>
                        <div class="card-body">
                            <p> {{ message.message }} </p>
                            {% if message.has_file %}
                                <a href="{{ message.doc.url }}" download="{{ message.doc.url }}"> Скачать
                                    прикрепленный файл </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="column ml-auto">

                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h4 ml-4 mb-1 text-gray-800"> Новое сообщение </h1>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}